@import "../../../styles/variables.scss";

.shift-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
    h3 {
      font-size: 20px !important;
    }
  }
  
  .form-section {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
    background: transparent !important;
    padding: 0 !important;
    border-radius: 5px;
  
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
  
  .role-upload-section {
    grid-column: span 2;
  }
  
  .table-scroll-container {
    grid-column: span 2;
    overflow-x: auto;
    margin-top: 20px;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        vertical-align: top;
  
        input[type="time"] {
          width: 100px;
        }
  
        .day-off-checkbox {
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
          gap: 5px;
        }
      }
  
      th {
        background-color: #f0f0f0;
        font-weight: bold;
      }
    }
  }