<div class="input-wrapper">
    <label [for]="inputName">{{ label }}</label>
      <div class="input-content">
        <input
            [type]="type"
            [id]="inputName"
            [placeholder]="placeholder"
            [value]="value"
            [attr.maxlength]="maxlength"
            [attr.minlength]="minlength"
            [mask]="mask"
            (input)="onInput($event)"
            (blur)="onTouched()"
            />
          <div class="icon">
              <ng-content></ng-content>
          </div>
      </div>
  </div>
  