<app-layout
  title="Hi Manager"
  primaryBtnText="Search Users"
  [disablePrimaryBtn]="!searchForm.valid"
  (submit)="searchUsers()"
>
  <form [formGroup]="searchForm">
    <app-input type="text" label="Search" formControlName="searchQuery" placeholder="Enter user name or email"></app-input>
  </form>

  <!-- User list and edit form -->
  <div *ngIf="users && users.length > 0">
    <h3>List of Users</h3>
    <p *ngIf="users.length === 0">No users found.</p>
    <div *ngFor="let user of users" class="user-item" (click)="selectUser(user)">
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }} | Role: {{ user.roleType }}</p>
      <img *ngIf="user.profileImage" [src]="'data:image/png;base64,' + user.profileImage" alt="User Profile" />
    </div>
  </div>
  <div *ngIf="selectedUser">
    <!-- Edit user form -->
    <form [formGroup]="editForm">
      <app-input type="text" label="Name" formControlName="name" placeholder="Enter user name"></app-input>
      <app-input type="email" label="Email" formControlName="email" placeholder="Enter user email"></app-input>
    </form>
    <button (click)="updateUser()">Update User</button>
    <button (click)="deleteUser()">Delete User</button>
  </div>
</app-layout>
