.roster-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.calendar-and-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.calendar-container {
  flex: 2;
  min-width: 300px;
}
.shift-info-container{
  margin-top: 55px;
}
.daily-summary-panel {
  background-color: #e9f8f6;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #168777;
  border-radius: 8px;
}

.shift-details-panel {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 5px solid #168777;
  border-radius: 8px;
}

.badge {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  border-radius: 6px;
  color: white;
  margin-left: 0.25rem;
}
.user-badge {
  background-color: #28a745;
}
.team-badge {
  background-color: #007bff;
}
/* In roster.component.css */
.shift-event {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-shift {
  background-color: #0bceb2; /* your secondary-color */
  color: white;
}

.team-shift {
  background-color: #2d4356; /* your color2 */
  color: white;
}
.fc-daygrid-day.fc-day-today:hover,
.fc-daygrid-day:not(.fc-day-other):hover {
  cursor: pointer;
  background-color: #f2f2f2;
}